* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../home/cosmos.jpg");
    background-size: cover;
}

.sun-image img {
    width: 300px;
    height: 300px;
    position: relative;
    top: 275px;
}

.mercury-image img {
    width: 10px;
    height: 10px;
    position: relative;
    top: 275px;
    right: 60px;
    animation-name: mercury;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

.venus-image img {
    width: 15px;
    height: 15px;
    position: relative;
    top: 400px;
    right: 25px;
    animation-name: venus;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.earth-image img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 165px;
    right: 5px;
    animation-name: earth;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.mars-image img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 90px;
    right: 0px;
    animation-name: mars;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.jupiter-image img {
    width: 40px;
    height: 40px;
    position: relative;
    top: 275px;
    right: -30px;
    animation-name: jupiter;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.saturn-image img {
    width: 35px;
    height: 35px;
    position: relative;
    top: 450px;
    right: -70px;
    animation-name: saturn;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.uranus-image img {
    width: 25px;
    height: 25px;
    position: relative;
    top: 200px;
    right: -90px;
    animation-name: uranus;
    animation-duration: 14s;
    animation-iteration-count: infinite;
}

.neptune-image img {
    width: 25px;
    height: 25px;
    position: relative;
    top: 275px;
    right: -130px;
    animation-name: neptun;
    animation-duration: 16s;
    animation-iteration-count: infinite;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 70px;
}

@keyframes mercury {
    0% {
        top: 275px;
        right: 60px;
        opacity: 1;
    }

    25% {
        top: 275px;
        right: 150px;
        opacity: 1;
    }

    50% {
        top: 275px;
        right: 300px;
        opacity: 1;
    }

    75% {
        top: 275px;
        right: 150px;
        opacity: 0;
    }

    100% {
        top: 275px;
        right: 60;
        opacity: 1;
    }
}

@keyframes venus {
    0% {
        top: 400px;
        right: 25px;
        opacity: 1;
    }

    25% {
        top: 275px;
        right: 170px;
        opacity: 1;
    }

    50% {
        top: 155px;
        right: 300px;
        opacity: 1;
    }

    75% {
        top: 275px;
        right: 170px;
        opacity: 0;
    }

    100% {
        top: 400px;
        right: 25;
        opacity: 1;
    }
}

@keyframes earth {
    0% {
        top: 165px;
        right: 5px;
        opacity: 1;
    }

    25% {
        top: 275px;
        right: 190px;
        opacity: 1;
    }

    50% {
        top: 400px;
        right: 400px;
        opacity: 1;
    }

    75% {
        top: 275px;
        right: 190px;
        opacity: 0;
    }

    100% {
        top: 165px;
        right: 5px;
        opacity: 1;
    }
}

@keyframes mars {
    0% {
        top: 90px;
        right: 0px;
        opacity: 1;
    }

    25% {
        top: 275px;
        right: 210px;
        opacity: 1;
    }

    50% {
        top: 450px;
        right: 450px;
        opacity: 1;
    }

    75% {
        top: 275px;
        right: 210px;
        opacity: 0;
    }

    100% {
        top: 90px;
        right: 0px;
        opacity: 1;
    }
}

@keyframes jupiter {
    0% {
        top: 275px;
        right: -30px;
        opacity: 1;
        transform: scale(1, 1);
    }

    25% {
        top: 275px;
        right: 270px;
        opacity: 1;
        transform: scale(1, 1);
    }

    50% {
        top: 275px;
        right: 450px;
        opacity: 1;
        transform: scale(1, 1);
    }

    75% {
        top: 275px;
        right: 270px;
        opacity: 0;
        transform: scale(0.5, 0.5);
    }

    100% {
        top: 275px;
        right: -30px;
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes saturn {
    0% {
        top: 450px;
        right: -70px;
        opacity: 1;
        transform: scale(1, 1);
    }

    25% {
        top: 275px;
        right: 270px;
        opacity: 1;
        transform: scale(1, 1);
    }

    50% {
        top: 120px;
        right: 650px;
        opacity: 1;
        transform: scale(0.5, 0.5);
    }

    75% {
        top: 275px;
        right: 270px;
        opacity: 0;
        transform: scale(0.2, 0.2);
    }

    100% {
        top: 450px;
        right: -70px;
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes uranus {
    0% {
        top: 200px;
        right: -90px;
        opacity: 1;
        transform: scale(1, 1);
    }

    25% {
        top: 275px;
        right: 290px;
        opacity: 1;
        transform: scale(1, 1);
    }

    50% {
        top: 450px;
        right: 700px;
        opacity: 1;
        transform: scale(0.5, 0.5);
    }

    75% {
        top: 275px;
        right: 290px;
        opacity: 0;
        transform: scale(0.2, 0.2);
    }

    100% {
        top: 200px;
        right: -90px;
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes neptun {
    0% {
        top: 275px;
        right: -130px;
        opacity: 1;
        transform: scale(1, 1);
    }

    25% {
        top: 275px;
        right: 350px;
        opacity: 1;
        transform: scale(1, 1);
    }

    50% {
        top: 275px;
        right: 800px;
        opacity: 1;
        transform: scale(0.5, 0.5);
    }

    75% {
        top: 275px;
        right: 350px;
        opacity: 0;
        transform: scale(0.2, 0.2);
    }

    100% {
        top: 275px;
        right: -130px;
        opacity: 1;
        transform: scale(1, 1);
    }
}